body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #b08e8e;
}

.container {
    text-align: center;
}

.clock, .timer {
    font-size: 40px;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background: #007BFF;
    color: white;
}

button:hover {
    background: #0056b3;
}